.hud {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bets {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}