.hud {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bets {
    background: rgb(116, 116, 116);
    border-radius: 5%;
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    background: green;
    border-radius: 5%;
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
}